@media screen and (max-width: 992px) {
	.bigSidebar-wrapper {
		display: none !important;
	}
}

@media screen and (min-width: 992px) {
	.bigSidebar-wrapper {
		position: sticky;
		top: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		background-color: #000000;
		opacity: 0.9;
		box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
	}

	.photo-circle {
		width: 25rem;
		height: 27rem;
		overflow: hidden;
		border-radius: 50%;
		border: 10px solid #e0dede;
		margin-bottom: 5rem;
	}
	.bigSidebar-image {
		width: 100%;
		height: 100%;
		transform: scale(1.2);
		margin-top: -10px;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.nav-link {
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 2.8rem;
		text-decoration: none;
		padding: 0.8rem 0;
		text-transform: capitalize;
	}
	.nav-link:hover {
		color: var(--green-dark);
	}
}
