.hero-wrapper {
	height: 100vh;
	position: relative;
	background-color: #000000;
}

.hero-image {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.centered-div {
	position: absolute;
	width: 80%;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	letter-spacing: 0.3rem;
}
.animation-text {
	font-size: 8rem;
	display: inline-block;
}
.greeting-text {
	font-size: 4rem;
}
.greeting-p {
	font-size: 3rem;
	letter-spacing: 0.2rem;
}

@media (max-width: 992px) {
	.hero-wrapper {
		width: 100vw;
	}
	.centered-div {
		top: 25%;
		width: 65%;
		letter-spacing: 0.1rem;
	}
	.greeting-text {
		font-size: 3rem;
	}
	.greeting-p {
		font-size: 2.5rem;
	}
	.animation-text {
		font-size: 4.5rem;
	}
}
