.page {
	display: grid;
	grid-template-columns: 1fr 4fr;
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: Georgia, serif;
	line-height: 1.5;
	scroll-behavior: smooth;
}

.container {
	height: 100vh;
	padding: 3rem 5rem;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.text-light {
	color: #dee3e4;
	opacity: 0.6;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 9rem;
	letter-spacing: 1rem;
}

.text-p {
	font-weight: 600;
	font-size: 3rem;
	opacity: 1;
	line-height: 1.5;
	margin-bottom: 0;
	position: relative;
	top: -9rem;
}

.heading-separator-line {
	margin-right: auto;
	margin-left: auto;
	width: 4rem;
	opacity: 1;
	border-color: #20c997 !important;
	border-bottom: 3px solid #dee2e6;
	display: block;
}

.second-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.left,
.right {
	padding: 0 2rem 0 1rem;
}

.left {
	text-align: justify;
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 2.5rem;
	font-size: 2.5rem !important;
}

.right {
	text-align: justify;
	line-height: 3rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 2.5rem;
	font-size: 2.5rem !important;
}

.left img {
	width: 25rem;
	margin-top: -2rem !important;
}

.bigger-p {
	font-size: 1.8rem !important;
	text-align: justify !important;
}

.small-p {
	font-size: 1.3rem !important;
	text-align: justify !important;
}

.title {
	text-align: left !important;
	font-weight: 600 !important;
	font-size: 2.25rem !important;
	opacity: 1;
	line-height: 1.5 !important;
	position: relative !important;
}

.italic {
	font-style: italic;
	font-family: Georgia, serif;
}

.heading-separator-line-left {
	width: 3rem !important;
	opacity: 1;
	border-color: #20c997 !important;
	border-bottom: 3px solid #dee2e6;
	display: block !important;
}

.center {
	margin: 0 auto !important;
}

.quoteAuthor {
	text-align: center !important;
	padding: 1rem 0 !important;
}

@media (max-width: 992px) {
	.page {
		grid-template-columns: 1fr !important;
	}

	.container {
		width: 100% !important;
		height: auto !important;
		padding: 1rem 5rem !important;
	}

	.text-light {
		font-size: 5rem;
		letter-spacing: 0.2rem;
		text-shadow: 1px 1px 2px grey;
	}

	.text-p {
		font-size: 2rem !important;
		top: -5rem !important;
	}

	.second-container {
		display: grid !important;
		grid-template-columns: 1fr !important;
		height: auto !important;
		margin-top: 0.5rem !important;
	}
	.left img {
		margin: 0.5rem 0 3rem 0 !important;
	}
	.right img {
		margin: 1rem 0 3rem 0 !important;
	}

	.bigger-p {
		font-size: 1.4rem !important;
	}

	.small-p {
		font-size: 1rem !important;
	}
	.title {
		font-size: 2rem !important;
	}
}
