*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-50: #f2d7d7;
  --primary-100: #e6cccc;
  --primary-200: #d0a0a0;
  --primary-300: #cd9999;
  --primary-400: #c97979;
  --primary-500: #b46666;
  --primary-600: #b53e3e;
  --primary-700: #9b3333;
  --primary-800: #940a0a;
  --primary-900: #820000;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --beige-light: #faecd6;
  --red-dark: #820000;
  --beige: #f2deba;
  --green-dark: #166b1b;
}

@media screen {
  body {
    scroll-behavior: auto;
  }
}
